<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ionic app
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">My app</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container" *ngIf="connected">
    <p>you are connected</p>
    <ion-button  [routerLink]="['/profile']" fill='outline' expand='block' color='success' (click)='logout()'>profile</ion-button>
    
    <ion-button fill='outline' expand='block' color='danger' (click)='logout()'>Logout</ion-button>
  </div>
  <div id="container" *ngIf="!connected">
    <strong>Ready to start</strong>
    <!-- <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p> -->
    <p>Your not logged in, you can start by :</p>
    <ion-button [routerLink]="['/register']" expand="block" color="primary" fill="outline">Register</ion-button>
    <span class="divider line one-line">or</span>
    <p>Already Have an account ?</p>
    <ion-button [routerLink]="['/login']" expand="block" color="danger" fill="outline">Sign In</ion-button>
  </div>
</ion-content>
